<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464976464214-a88jo0el3jp8j8u3oigiqqadjc1c6ujv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464976464214-a88jo0el3jp8j8u3oigiqqadjc1c6ujv</string>
	<key>API_KEY</key>
	<string>AIzaSyD8yHbJ2FJBjZLSEqNVNFXwkt5FM6_pjvM</string>
	<key>GCM_SENDER_ID</key>
	<string>464976464214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled1</string>
	<key>PROJECT_ID</key>
	<string>testapp-47b8b</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-47b8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464976464214:ios:74843cebda56b6fdd2aef7</string>
</dict>
</plist>